<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>REST like path actions demo</title>
    <link rel="stylesheet" href="styles/main.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.4.min.js"></script>
    <script type="text/javascript">
        window.RPA = (function($) {

            $(document).ready(function() {
                // do some $ stuff here
            });

        })(jQuery);
    </script>

</head>
<body>

<div id="content">
    $content.get( $page.Path)
</div>

<pre>
 a JPublish demo
</pre>
</body>
</html>
