!!!
%html
%head
  %title Samples of Haml in JPublish
  %link{ :rel => 'stylesheet', :type => 'text/css', :href => 'stylesheet/generic.css' }
  %style{ :type => 'text/css' }
    :sass
      html
        :margin 0
        :padding 0
        :background #999
        :font normal 76% "Lucida Grande", Verdana, Helvetica, sans-serif
      body
        :margin 2em
        :padding 2em
        :border 2px solid gray
        :background white
        :color #222
      h1
        :font-size 2em
        :font-weight normal
        :margin 0 0 1em 0
      h2
        :font-size 1.4em
        :margin 1em 0 .5em 0
      pre
        :font-size 13px
        :font-family Monaco, "DejaVu Sans Mono", "Bitstream Vera Mono", "Courier New", monospace
  %body
  #container  
  %p
    Date/Time:
    - now = DateTime.now
    %strong= now
    - if now > DateTime.parse("December 31, 2006")
      = "Happy new " + "year!"    
